@model List<Post>
<h4>Manage User Posts</h4>
<table class="table small" id="postsTable">
    <th>ID</th>
   
   <th>Author ID</th>
   <th>Content</th>
   <th>Created Date</th>
   <th>File Name</th>
    <th>Actions</th>
  
   
    <tbody>
@foreach (var item in Model){
<tr>
  @{
        var length = item.Content.Length / 2;
        if (length % 2 != 0) length = length+1;
        var shorterId = item.Author.Id.Substring(0,13);
        var shortContent = item.Content.Substring(0,length);
        
    }
    <td>@item.Id </td>
    <td>@shorterId</td>
    <td>@shortContent</td>
    <td>@item.PostedDate</td>
    <td>@item.FileName</td>    
    <td><a href="#" onclick="confirmDeletePost('@item.Id')">Delete</a></td>
   
</tr>
}
</tbody>
</table>

<script>
function confirmDeletePost(id) {
    if (confirm("Are you sure you want to delete this post?")) {
        $.ajax({
            type: "DELETE",
            url: "/Admin/DeletePost/" + id,
            success: function(data) {                
                alert("Post deleted successfully");
                location.reload();
            }
        });
    }
}
</script>
