@using Microsoft.AspNetCore.Identity
@using LinkedInClone.Models;
@inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> UserManager


        <header>
            <div class="header-container">
                <nav class="no-hover">
                    <div class="header header-fixed custom-header">

                        <div class=" nav-left no-hover">
                            <a asp-controller="Home" asp-action="Index"><img class="img-nav-logo"
                                    srcset="/Images/nav-icon.png" />
                            </a>
                            <h4 class="tracking-loosest font-normal mt-1 ml-5">JobLink</h4>

                        </div>

                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("User"))
                        {
                        <div class="nav-right">
                            <div class="nav-item active">
                                <div class="nav-item">
                                    <a class="nav-link text-dark utb utb-C" asp-area="" asp-controller="Home"
                                        asp-action="Index">Home</a>
                                </div>
                                <div class="nav-item">
                                    <a class="nav-link text-dark utb utb-C" asp-area="" asp-controller="Home"
                                        asp-action="Privacy">My
                                        Network</a>
                                </div>
                                <div class="nav-item">
                                    <a class="nav-link text-dark utb utb-C" asp-area="" asp-controller="Home"
                                        asp-action="Privacy">Notifications</a>
                                </div>
                                <div class="nav-item">
                                    <a id="manage" data-tooltip="Tooltip 1" class="nav-link text-dark utb utb-C"
                                        asp-controller="Home" asp-area="" asp-action="MyAccount" title="Manage">Hello
                                        @UserManager.GetUserName(User)!</a>
                                </div>
                                <div class="nav-item">
                                    <a class="nav-link text-dark utb utb-C" asp-area="Identity"
                                        asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action(" Index", "Home" ,
                                        new { area="" })">Log Out
                                    </a>
                                </div>
                            </div>
                        </div>

                        } else if (SignInManager.IsSignedIn(User) && User.IsInRole("Recruiter")) {
                        <div class="nav-item">
                            <a class="nav-link text-dark utb utb-C" asp-area="" asp-controller="Home"
                                asp-action="Recruiter">Home</a>
                        </div>
                    
                        <div class="nav-item">
                                    <a id="manage" data-tooltip="Tooltip 1" class="nav-link text-dark utb utb-C"
                                        asp-controller="Home" asp-area="" asp-action="MyAccount" title="Manage">Hello
                                        @UserManager.GetUserName(User)!</a>
                                </div>
               
                        <div class="nav-item">
                            <a class="nav-link text-dark utb utb-C" asp-area="Identity" asp-page="/Account/Logout"
                                asp-route-returnUrl="@Url.Action(" Index", "Home" , new { area="" })">Log Out
                            </a>
                        </div>

                        } else if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin")){
                        @* TODO: Add Admin tabs and associated controller/views *@
                         <div class="nav-item">
                            <a class="nav-link text-dark utb utb-C" asp-area="" asp-controller="Home"
                                asp-action="Index">Home</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link text-dark utb utb-C" asp-area="" asp-controller="Home"
                                asp-action="AdminPanel">Admin Panel</a>
                        </div>
                   <div class="nav-item">
                                    <a id="manage" data-tooltip="Tooltip 1" class="nav-link text-dark utb utb-C"
                                        asp-controller="Home" asp-area="" asp-action="MyAccount" title="Manage">Hello
                                        @UserManager.GetUserName(User)!</a>
                                </div>
                         
                          <div class="nav-item">
                            <a class="nav-link text-dark utb utb-C" asp-area="Identity" asp-page="/Account/Logout"
                                asp-route-returnUrl="@Url.Action(" Index", "Home" , new { area="" })">Log Out
                            </a>
                        </div>
                        } else {
                        <div class="nav-right">
                            <div class="nav-item active">
                                <div class="nav-item">
                                    <a class="nav-link text-dark utb utb-C" asp-area="" asp-controller="Home"
                                        asp-action="Index">Home</a>
                                </div>
                                <div class="nav-item">
                                    <a class="nav-link text-dark utb utb-C" id="register" asp-area="Identity"
                                        asp-page="/Account/Register">Register</a>
                                </div>
                                <div class="nav-item">
                                    <a class="nav-link text-dark utb utb-C" id="login" asp-area="Identity"
                                        asp-page="/Account/Login">Log
                                        In</a>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </nav>
            </div>
        </header>