@{
var articles = ViewBag.Articles as List<NewsModel>;
var stocks = ViewBag.Stocks as Dictionary<string, Quote>;
    }
<style>
    .StockPara{
        font-weight: 600;
    }
    .price{
        font-weight: 900;
    }
</style>
    <div class="main-right">
        <div class="card p-4">
            <div class="card__container">
                <h6 class=" tooltip tooltip--bottom" data-tooltip="Access external news source">JobLink News</h6>
                @{
                if (articles != null) {

                
                int count = 0;
                foreach (var article in articles){
                <p class="u-text-justify"><a href="@article.url" target="_blank">@article.title</a></p>
                count++;
                if (count >= 4) break;
                }
                }

                }

            </div>
            <div class="divider"></div>
            <h6>JobLink Market Trends</h6>
            @{
                if (stocks != null){
                    foreach (var stock in stocks)
                    {
                        <p class="StockPara">@stock.Key - Open: <span class="price">@stock.Value.O$</span>
                        Close: <span class="price">@stock.Value.C$</span>
                        High: <span class="price">@stock.Value.H$</span>                       
                        </p>
                    }
                }

            }

        </div>
    </div>