@model LinkedInClone.Models.Connection

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Connection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountOwner.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Friend)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Friend.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accepted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accepted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
