@model IEnumerable<LinkedInClone.Models.Connection>

    @{
    ViewData["Title"] = "My Network";
    var count1 = 0;
    var count2 = 0;
    }
    <div class="main-container">

        @if (User.IsInRole("User")){
        <partial name="_LeftSideBarForUser" />

        } else if (User.IsInRole("Recruiter")){
        <partial name="_LeftSideBarForRecruiter" />
        }
        <div class="main-center">
            <div>
                <div class="card p-4">

                    <h4>My Connections</h4>
                    <table class="table">
                        <thead class="">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Friend)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            @if (item.AccountOwner.UserName == User.Identity.Name && item.Accepted == true)
                            {
                            <tr>
                                <td class="pt-3">
                                     <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Friend.FullName)</a>
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.Id"><button
                                            class="outline btn-danger">Remove Friend</button></a>
                                </td>
                            </tr>
                            }
                            else if (item.Friend.UserName == User.Identity.Name && item.Accepted == true)
                            {
                            <tr>
                                <td class="pt-3">
                                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.AccountOwner.FullName)</a>
                                    
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.Id"><button
                                            class="outline btn-danger">Remove Friend</button></a>
                                </td>
                            </tr>
                            }
                            }
                        </tbody>
                    </table>
                </div>

                <div class="card p-4 mt-6">
                    <details class="accordion">
                        <summary class="accordion__summary">
                            @foreach (var item in Model)
                            {
                                if (item.AccountOwner.UserName == User.Identity.Name && item.Accepted == false) {
                                    count1 += 1;
                                }
                            }
                            <h4>Requests Sent (@count1)</h4>
                             @* FIXME: Attempting to display a span with number of requests sent
                                @foreach (var item in Model)
                                {
                                if (item.AccountOwner.UserName == User.Identity.Name && item.Accepted == false)
                                {
                                    <span>@Model.Count</span>
                                }
                                } 
                            *@
                            
                        </summary>
                        <table class="table connectTable">
                            <thead class="text-indigo-500 bg-indigo-100">
                                <tr>
                                    <th>
                                        To
                                    </th>
                                    <th>
                                        Sent On
                                    </th>
                                    <th>Info</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                if (item.AccountOwner.UserName == User.Identity.Name && item.Accepted == false)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Friend.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.Id">Friend Details</a>
                                    </td>
                                </tr>
                                }
                                }
                            </tbody>
                        </table>
                    </details>
                    <details class="accordion">
                        <summary class="accordion__summary">
                            @foreach (var item in Model)
                            {
                                if (item.Friend.UserName == User.Identity.Name && item.Accepted == false) {
                                    count2 += 1;
                                }
                            }
                            <h4>Requests Received (@count2)</h4>
                        </summary>
                        <table class="table connectTable">
                            <thead class="text-indigo-500 bg-indigo-100">
                                <tr>
                                    <th>
                                        From
                                    </th>
                                    <th>
                                        Received On
                                    </th>
                                    <th>
                                        Response
                                    </th>
                                    <th>Info</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                if (item.Friend.UserName == User.Identity.Name && item.Accepted == false)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccountOwner.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                    </td>
                                    <td>
                                        <a asp-action="Accept" asp-controller="Connections" asp-route-id="@item.Id">Accept</a> |
                                        <a asp-action="Deny" asp-controller="Connections" asp-route-id="@item.Id">Deny</a>
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.Id">User's Details</a>
                                    </td>
                                </tr>
                                }
                                }
                            </tbody>
                        </table>
                    </details>
                </div>

            </div>
        </div>
        <partial name="_RightSideBarForUser" />
    </div>