@model IEnumerable<LinkedInClone.Models.Connection>

@{
    ViewData["Title"] = "My Network";
}
<div class="main-container">

    <partial name="_LeftSideBarForUser" />
    <div class="main-center">
        <h2 class="u-center">My Network</h2>
        <div>
            <h4>Requests Made</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Friend)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Accepted)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.AccountOwner.UserName == User.Identity.Name && item.Accepted == false)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Friend.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Accepted)
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id">Friend Details</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <h4>Requests Received</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.AccountOwner)
                        </th>
                        <th>
                            Request Date
                        </th>
                        <th>
                            Response
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.Friend.UserName == User.Identity.Name && item.Accepted == false)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AccountOwner.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    <a asp-action="Accept" asp-controller="Connections" asp-route-id="@item.Id">Accept
                                        Request</a>|
                                    <a asp-action="Deny" asp-controller="Connections" asp-route-id="@item.Id">Deny Request</a>
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id">User's Details</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <h4>My Connections</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Friend)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.AccountOwner.UserName == User.Identity.Name && item.Accepted == true)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Friend.FullName)
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.Id">Remove Friend</a>
                                </td>
                            </tr>
                        }
                        else if (item.Friend.UserName == User.Identity.Name && item.Accepted == true)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AccountOwner.FullName)
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.Id">Remove Friend</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <partial name="_RightSideBarForUser" />
</div>
