@model IEnumerable<LinkedInClone.Models.JobPosting>

@{
    ViewData["Title"] = "List of Jobs";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @* FIXME: 
                    IF User has already applied, show that instead of apply button 
                    OR
                    Show a prompt on click that says user has already applied for that particular job
                *@
                <a asp-action="Create" asp-route-id="@item.Id">Apply</a> 
            </td>
        </tr>
}
    </tbody>
</table>