@model dynamic

<div class="modal modal-animated--zoom-in" id="Message">
    <a href="#searchModalDialog" class="modal-overlay close-btn" aria-label="Close"></a>
    <div class="modal-content" role="document">
        <div class="modal-header"><a href="#components" class="u-pull-right" aria-label="Close"><span class="icon"><svg
                        aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times"
                        class="svg-inline--fa fa-times fa-w-11 fa-wrapper" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 352 512">
                        <path fill="currentColor"
                            d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
                        </path>
                    </svg></span></a>
            @if (Model.StartedBy.UserName == User.Identity.Name)
            {
                <div class="modal-title">@Model.ReceivedBy.FullName</div>
            }
            else if (Model.ReceivedBy.UserName == User.Identity.Name)
            {
                <div class="modal-title">@Model.StartedBy.FullName</div>
            }
            <div class="u-flex u-flex-row">
                @if (Model.Messages.Count == 0)
                {
                    <h6>Be the first to send a Message!👍</h6>
                }
                @foreach (Message message in Model.Messages)
                {
                    @if (message.SentBy.UserName == User.Identity.Name)
                    {
                        <div class="mr-auto u-rounded-full bg-info text-dark">
                            <p>@message.Content</p>
                            <div class="post-card-date">
                                <p>
                                    @message.SentDate.ToString("ddd MMMM dd, yyyy") at
                                    @message.SentDate.ToString("h:mm tt")
                                </p>
                            </div>
                        </div>
                    }
                    else if (message.ReceivedBy.UserName == User.Identity.Name)
                    {
                        <div class="u-rounded-full bg-light text-dark">
                            <p>@message.Content</p>
                            <div class="post-card-date">
                                <p>
                                    @message.SentDate.ToString("ddd MMMM dd, yyyy") at
                                    @message.SentDate.ToString("h:mm tt")
                                </p>
                            </div>
                        </div>
                    }
                }
            </div>
            @using (Html.BeginForm("NewMessage", "Messages", FormMethod.Post))
            {
                @if (Model.StartedBy.UserName == User.Identity.Name)
                {
                    <input type="text" value="@Model.ReceivedBy.Id" name="id" hidden />
                }
                else if (Model.ReceivedBy.UserName == User.Identity.Name)
                {
                    <input type="text" value="@Model.StartedBy.Id" name="id" hidden />
                }
                <input type="number" value="@Model.Id" name="conversationId" hidden />
                <input type="text" name="MessageContent" placeholder="Write your message here..." />
                <input type="submit" value="Send" class="btn-info u-inline-block mt-2" />
            }
        </div>
    </div>
</div>
