@model List<ApplicationUser>
@{
ViewData["Title"] = "Admin Interface";
}
@{
    var data = ViewBag.Message;
}
<style>
    h2, h4{
        text-align: center;
    }
  
</style>
@{
    if (TempData["Dlt"] != null){
         <div class="alert alert-success">@TempData["Dlt"]</div>
    }
}
<h2>Admin Interface</h2>
<h4>Manage Users</h4>
<table class="table">
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Account Type</th>
    <th>Registration Date</th>
    <th>Company</th>
    <th>Actions</th>
  
   
    <tbody>
@foreach (var item in Model){
<tr>
    @{
        var shorterId = item.Id.Substring(0,13);
        var role = item.GetType().Name;
    }
    <td>@shorterId </td>
    <td>@item.FullName</td>
    <td>@item.Email</td>  
    <td>@role</td>
    <td>@item.CreatedDate</td>
    @{
        if (role == "RecruiterUser"){
<td>@item.Company</td>
        }else {
            <td>N/A</td>
        }
    }
    <td><a asp-controller="Account" asp-action="Read" asp-route-id="@item.Id">Delete</a></td>
   
</tr>
}
</tbody>
</table>
