@model AdminPanelViewModel
@{
ViewData["Title"] = "Admin Interface";
}

<style>
    h2, h4{
        text-align: center;
    }
    .tableMenu{
        text-align: center;
        font-size: 22px;
        font-weight: bold;
    }

  
</style>
@{
    if (TempData["Dlt"] != null){
         <div class="alert alert-success">@TempData["Dlt"]</div>
    }
}
<h2>Admin Interface</h2>
<h4>Manage Users</h4>
<table class="table" id="usersTable">
    
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Account Type</th>
    <th>Registration Date</th>
    <th>Company</th>
    <th>Actions</th>
  
   
    <tbody>
@foreach (var item in Model.Users){
<tr>
    @{
        var shorterId = item.Id.Substring(0,13);
        var role = item.GetType().Name;
    }
    <td>@shorterId </td>
    <td>@item.FullName</td>
    <td>@item.Email</td>  
    <td>@role</td>
    <td>@item.CreatedDate</td>
    @{
        if (role == "RecruiterUser"){
<td>@item.Company</td>
        }else {
            <td>N/A</td>
        }
    }
    <td><a href="#" onclick="confirmDelete('@item.Id')">Delete</a></td>
   
</tr>
}
</tbody>
</table>
<div id="jobsTable" style="display: none;">
    @Html.Partial("_AdminJobPostingsTable", Model.JobPostings)
</div>
<div id="postsTable" style="display: none;">
    @Html.Partial("_AdminPostsTable", Model.Posts)
</div>
<p class="tableMenu"><a href="#" onclick="showTable('jobsTable')">View Job Postings </a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="showTable('postsTable')"> View User Posts</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="showTable('usersTable')"> View Users</a></p>

<script>
   
    function confirmDelete(id) {
    if (confirm("Are you sure you want to delete this user?")) {
        $.ajax({
            type: "DELETE",
            url: "/Account/DeleteUser/" + id,
            success: function(data) {                
                alert("User deleted successfully");
                location.reload();
            }
        });
    }
}

    function showTable(tableId) {
    document.getElementById("usersTable").style.display = "none";
    document.getElementById("jobsTable").style.display = "none";
    document.getElementById("postsTable").style.display = "none";
    document.getElementById(tableId).style.display = "block";
}
</script>

