@model dynamic
@{
ViewData["Title"] = "Home Page";
}

<div class="homepage-container">
    <div class="homepage-left">

        <h6>Explore</h6>

        <div class="tree">
            <div class="tree-item">
                <input type="checkbox" id="tree1" class="u-none">
                <label class="tree-item-header" for="tree1">
                    <span class="icon">
                        <i class="fa fa-wrapper fa-chevron-right small" aria-hidden="true"></i>
                    </span> Posts
                </label>
                <div class="tree-item-body">
                    <ul class="menu">
                        <li class="menu-item"><a asp-controller="Posts" asp-action="Create">Add a Post</a></li>
                        <li class="menu-item"><a asp-controller="Posts" asp-action="Create">Your Posts</a></li>
                        <li class="menu-item"><a asp-controller="Posts" asp-action="Create">Liked Posts</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tree">
            <div class="tree-item">
                <input type="checkbox" id="tree3" class="u-none">
                <label class="tree-item-header" for="tree3">
                    <span class="icon">
                        <i class="fa fa-wrapper fa-chevron-right small" aria-hidden="true"></i>
                    </span> Jobs
                </label>
                <div class="tree-item-body">
                    <ul class="menu">
                        <li class="menu-item"><a asp-controller="JobApplications" asp-action="AllJobs">Apply for
                                Jobs</a></li>
                        <li class="menu-item"><a asp-controller="JobApplications" asp-action="Index">View My Jobs</a>
                        </li>
                        <li class="menu-item"><a asp-controller="JobApplications" asp-action="Index">Contact a
                                recruiter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="homepage-center">
        @foreach (var item in Model)
        {

        <div class="card">
            <div class="card__container m-2">
                <div class="content">
                    <h6>@item.Author.UserName</h6>
                </div>
                <div>
                    @if (item.PostedDate.Minute > 10)
                    {
                    <div class="post-card-date">
                        <p>Posted on @item.PostedDate.Month/@item.PostedDate.Day/@item.PostedDate.Year at
                            @item.PostedDate.Hour:@item.PostedDate.Minute </p>
                    </div>
                    }
                    else
                    {
                    <p>Posted on @item.PostedDate.Month/@item.PostedDate.Day/@item.PostedDate.Year at
                        @item.PostedDate.Hour:@item.PostedDate.Minute.ToString().Insert(0, "0")</p>
                    }
                </div>
                <div class="post-card-content">
                    <p>@item.Content</p>
                </div>
                <div>
                    @if (item.FileName != null)
                    {
                    <img src='@Url.Action("GetMediaFile","Posts", new {fileName = item.FileName})' />
                    <div class="post-card-interaction-counter">
                        <p><i class="fa-regular fa-thumbs-up fa-lg"></i> # of likes</p>

                    </div>
                    <div class="card__action-bar u-center">
                        <button class="outline btn-info tooltip tooltip--left" data-tooltip="Like this post"><i
                                class="fa-regular fa-thumbs-up fa-xl"></i> Like</button>
                        <button class="outline btn-link tooltip tooltip--right" data-tooltip="Leave a comment"><i
                                class="fa-regular fa-comment-dots fa-xl"></i> Comment</button>
                    </div>
                    }
                    else
                    {
                    <div>
                    </div>
                    }
                </div>
            </div>
        </div>

        }
    </div>
    <div class="homepage-right">
        <h6>Featured Post</h6>
        <p>maybe links like</p>
        <a href="https://youtu.be/dQw4w9WgXcQ">Our Partners</a>


        <div class="card">
            <div class="card__container">
                <div class="card__image"></div>
                <div class="card__title-container">
                    <p class="title">Featured Post</p><span class="subtitle">X Amount of Likes Today!</span>
                </div>
            </div>
            <div class="content">
                <p>the post content</p>
            </div>
            <div class="card__action-bar u-center">
                <button class="btn-link outline">View full post</button>
                <button class="btn-link outline">Share</button>
            </div>
            <div class="card__footer">
                <div class="u-text-center"><span>This was posted <code>Yesterday</code></span></div>
            </div>
        </div>

    </div>
</div>