@model dynamic
@{
ViewData["Title"] = "Home";
}
<div class="homepage-container">
    <div class="homepage-left">

        <h6>Explore</h6>

        <div class="tree">
            <div class="tree-item">
                <input type="checkbox" id="tree1" class="u-none">
                <label class="tree-item-header" for="tree1">
                    <span class="icon">
                        <i class="fa fa-wrapper fa-chevron-right small" aria-hidden="true"></i>
                    </span> Posts
                </label>
                <div class="tree-item-body">
                    <ul class="menu">
                        <li class="menu-item"><a asp-controller="Posts" asp-action="Create">Add a Post</a></li>
                        <li class="menu-item"><a asp-controller="Posts" asp-action="MyPosts">Your Posts</a></li>
                        <li class="menu-item"><a asp-controller="Posts" asp-action="Create">Liked Posts</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tree">
            <div class="tree-item">
                <input type="checkbox" id="tree3" class="u-none">
                <label class="tree-item-header" for="tree3">
                    <span class="icon">
                        <i class="fa fa-wrapper fa-chevron-right small" aria-hidden="true"></i>
                    </span> Jobs
                </label>
                <div class="tree-item-body">
                    <ul class="menu">
                        <li class="menu-item"><a asp-controller="JobApplications" asp-action="AllAvailableJobs">Apply
                                for
                                Jobs</a></li>
                        <li class="menu-item"><a asp-controller="JobApplications" asp-action="UserApplications">View My
                                Jobs</a>
                        </li>
                        <li class="menu-item"><a asp-controller="JobApplications" asp-action="TODO">Contact a
                                recruiter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="homepage-center">
        @foreach (var item in Model)
        {

        <div class="card" runat="server">
            <div class="card__container m-2">
                <div class="content">
                  <img src="https://fsd05regex.blob.core.windows.net/blob-storage/profile.png" width="5%"/><h6>@item.Author.FullName</h6>
                </div>

                <div class="post-card-date">
                    <p>Posted on @item.PostedDate.ToString("ddd MMMM dd, yyyy") at
                        @item.PostedDate.ToString("h:mm tt") </p>
                </div>

                <div class="post-card-content">
                    <p>@item.Content</p>
                </div>
                <div>
                    @if (item.FileName != null)
                    {
                    <img src='@Url.Action("GetMediaFile","Posts", new {fileName = item.FileName})' />
                    }
                    else
                    {
                    <div>
                    </div>
                    }
                    <div class="post-card-interaction-counter">

                        <p><i class="fa-regular fa-thumbs-up fa-lg"></i> @item.Likes.Count</p>

                    </div>
                    <div class="card__action-bar u-center">
                        @if (item.Likes.Count == 0)
                        {
                            <div class="btn-group" runat="server">
                                <button class="outline btn-transparent text-orange-700 tooltip btn--sm tooltip--left"
                                    data-tooltip="Like this post"><i class="fa-regular fa-thumbs-up fa-xl"></i>
                                    <a asp-controller="Home" asp-action="Like" asp-route-id="@item.Id">Like</a>
                                </button>
                               <button onclick="ShowCommentBox(@item.Id)" id="comment-btn-@item.Id"
                                class="outline btn-transparent text-blue-700 tooltip tooltip--right"
                                data-tooltip="Leave a comment"><i id="comment-btn-icon"
                                    class="fa-regular fa-comment-dots fa-xl"></i>
                                <a id="comment-link-@item.Id">Comment</a>
                            </button>
                            </div>
                        }
                        else
                        {
                            @foreach (var like in item.Likes)
                            {
                                @if (like.LikedPost == item && like.LikedBy.UserName == User.Identity.Name)
                                {
                                    <div class="btn-group" runat="server">
                                        <button class="outline btn-transparent text-orange-700 tooltip btn--sm tooltip--left"
                                            data-tooltip="Unlike this post"><i class="fa-regular fa-thumbs-down fa-xl"></i>
                                            <a asp-controller="Home" asp-action="Unlike" asp-route-id="@item.Id">Unlike</a>
                                        </button>
                                        <button onclick="ShowCommentBox(@item.Id)" id="comment-btn-@item.Id"
                                        class="outline btn-transparent text-blue-700 tooltip tooltip--right"
                                        data-tooltip="Leave a comment"><i id="comment-btn-icon"
                                        class="fa-regular fa-comment-dots fa-xl"></i>
                                <a id="comment-link-@item.Id">Comment</a>
                            </button>
                                    </div>
                                    
                                }
                                else if(like.LikedPost != item || like.LikedBy.UserName != User.Identity.Name && item.Likes.IndexOf(like) == item.Likes.Count - 1)
                                {
                                    <div class="btn-group" runat="server">
                                        <button class="outline btn-transparent text-orange-700 tooltip btn--sm tooltip--left"
                                            data-tooltip="Like this post"><i class="fa-regular fa-thumbs-up fa-xl"></i>
                                            <a asp-controller="Home" asp-action="Like" asp-route-id="@item.Id">Like</a>
                                        </button>
                                        <button onclick="ShowCommentBox(@item.Id)" id="comment-btn-@item.Id"
                                        class="outline btn-transparent text-blue-700 tooltip tooltip--right"
                                        data-tooltip="Leave a comment">
                                            <i id="comment-btn-icon"
                                            class="fa-regular fa-comment-dots fa-xl"></i>
                                            <a id="comment-link-@item.Id">Comment</a>
                                        </button>
                                    </div>
                                }
                            }
                        }
                    </div>
                    <div class="commentbox" id="commentbox-@item.Id" hidden>
                        <form id="comment" method="post">

                            <label class="font-extrathin comment-label tracking-tighter">Write your comment:</label>
                            <input id="comment-input-@item.Id" type="text"/>
                            <input type="submit" value="Publish" class="outline btn-transparent text-black-700 mt-1"/>
                                @* <a asp-controller="Home" asp-action="Comment" asp-route-id="@item.Id">
                                </a> *@
                        </form>
                        <div class="all-comments">
                            <p>here are comments</p>
                    </div>
                    </div>

                    @if (item.Author.UserName == User.Identity.Name)
                    {
                    <div class="post-card-content">
                        <p>
                            <a asp-controller="Posts" asp-action="Edit" asp-route-id="@item.Id">Edit Post</a>
                            <a asp-controller="Posts" asp-action="Delete" asp-route-id="@item.Id">Delete Post</a>
                        </p>
                    </div>
                    }
                </div>
            </div>
        </div>
        }
    </div>
    <div class="homepage-right">
        <h6>JobLink News</h6>



        <div class="card">
            <div class="card__container">
                <p>link</p>
                <p>link</p>
                <p>link</p>
                <p>link</p>
                <p>link</p>
            </div>
            <div class="divider"></div>
            <h6>JobLink Market Trends</h6>
            <p>stock ticker</p>
            <p>stock ticker</p>
            <p>stock ticker</p>
            <p>stock ticker</p>
            <p>stock ticker</p>
            <p>stock ticker</p>

        </div>
    </div>