@page
@model LoginModel

@{
ViewData["Title"] = "Log in";
}
<div class="universal-container">
    <div class="row level">
        <section>

            <form id="account" method="post">
                <h1 class="header-brand">
                    Log in
                </h1>
                <h5>Use a local account to log in.</h5>

                <div class="divider"></div>
                <div class="divider"></div>

                <div class="row level">

                    <div class="col-xs-3 level-item">
                        <label asp-for="Input.Email" class="m-0"></label>
                    </div>

                    <div class="col-xs-9 level-item mb-1">
                        <input asp-for="Input.Email" autocomplete="username" aria-required="true"
                            placeholder="name@example.com" type="email" />
                    </div>

                    <div class="col-xs-3 level-item">
                        <label asp-for="Input.Password" class="m-0"></label>
                    </div>

                    <div class="col-xs-9 level-item mb-1">
                        <input asp-for="Input.Password" autocomplete="current-password" aria-required="true"
                            placeholder="password" type="password" />
                    </div>

                    <div class="form-ext-control form-ext-checkbox ml-auto">
                        <input id="check1" class="form-ext-input" type="checkbox" asp-for="Input.RememberMe" />
                        <label for="check1" asp-for="Input.RememberMe" class="form-ext-label">
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>

                <div class="row level">
                    <button id="login-submit" type="submit" onclick="LogIn()"
                        class="ml-auto btn-animated outline animated bounceIn btn-dark btn--lg mr-1">Log in</button>
                </div>

                <div>
                    <div class="divider"></div>
                    <div asp-validation-summary="All" class="text-danger font-semibold"></div>
                    <div class="divider"></div>
                    <p><a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a></p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email
                            confirmation</a>
                    </p>
                </div>

            </form>
        </section>
    </div>

    @* <div class="col-md-6 col-md-offset-2"> *@
        @* <section>
            <p>Or sign in with:</p>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </section> *@
        @* <form method="post" asp-controller="Home" asp-action="CreateRoles">
            <input type="submit">
        </form> *@
        <section>
            <h3>Use another service to log in:</h3>
            <hr />
            @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
            <div>
                <p>
                    There are no external authentication services configured. See this <a
                        href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                        about setting up this ASP.NET application to support logging in via external services</a>.
                </p>
            </div>
            }
            else
            {
            <form id="external-account" asp-controller="Account" asp-action="ExternalLogin" method="post"
                class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins!)
                        {
                        <button class="btn btn-info" asp-controller="Account" asp-action="GoogleLogin" name="provider"
                            value="@provider.Name"
                            title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>
            }
            }
        </section>
    </div>
</div>

@*
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="379601028963-alml822od0odsmo04m5hl4png6ikqasp.apps.googleusercontent.com">
@section Scripts {
<partial name="_ValidationScriptsPartial" />
} *@