@model IEnumerable<LinkedInClone.Models.JobApplication>

@{
    ViewData["Title"] = "Applicants";
}
<div class="card p-4 w-80p u-center u-flex u-flex-column">


    <h1>@ViewData["Title"]</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Applicant.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Applicant.Email)
                </th>
                <th>
                    Applied On
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Applicant.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Applicant.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        <a asp-action="AddConversationRecruiter" asp-controller="Messages"
                            asp-route-id="@item.Applicant.Id">Follow
                            Up</a>
                    </td>
                    <td>
                        <a asp-action="DeleteApplication" asp-controller="JobPostings"
                            asp-route-id="@item.JobApplicationId">Reject Application</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>